@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Nanum+Myeongjo);
* {margin:0;padding:0;box-sizing:border-box;}
body {
	font-family: 'Nanum Myeongjo', serif;
	font-size: 18px;
	line-height:1.25;
}
section {
    padding:4em 0;
}
#intro {
    background:url(../images/hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    height: 70vh;
    text-align:center;
}
#intro h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
	line-height: 1em;
}
#intro p {
  	font-size: 30px;
  	margin: 1em 0 2em;
}
#intro a {
	color: green;
	font-family: 'Roboto Condensed', sans-serif;
	background: #fff;
	font-size: 25px;
	padding: .5em 1em;
	display: inline-block;
	text-decoration: none;
}

a.cta {}



h2 {
	color: green;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
	line-height: 1em;
}
#distribution h2, #enterprise h2 {
	font-size: 2em;
}


h3 {
	color: #5F259F;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
	line-height: 1em;
}

